body {
  font-family: "Fredoka One", sans-serif;
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 100%;
  margin: 0;
  padding: 0;
  background-color: #fdf2e9;
}

.hautdepage {
  display: grid;
  grid-template-columns: 2fr 24fr 1fr;
  grid-template-rows: 5rem 5rem;
  background-size: cover;
  background-color: #5dade2;
  width: 100vw;
  height: 70px;
}
.logo {
  grid-column: 1;
  grid-row: 1;
  width: 45x;
  height: 45px;
  margin: 15px;
  cursor: pointer;
}
.titre {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  margin-top: 5px;
  pointer-events: none;
}
h1 {
  height: 20px;
}
.connexion {
  grid-column: 3;
  grid-row: 1;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-right: -500px;
  margin: 15px;
  margin-top: 15px;
  background-color: #5dade2;
  border-radius: 100%;
  transition: all 1s ease-in-out;
}
.connexion:hover {
  background-color: azure;
}
.menu {
  grid-row: 2;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  background-color: #5dade2;
  padding-bottom: 1px;
}
.menu a:hover {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #131313;
  color: #5dade2;
}
.menu a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fdf2e9;
  text-decoration: none;

  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
article {
  grid-row: 2;
}
.contenu {
  margin-top: -250px;
  margin-left: -45px;
  display: flex;
  flex-direction: columb;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
}
.text {
  width: 50%;
  font-family: "Fredoka One", sans-serif;
  margin-left: 150px;
}

.image img {
  width: 150%;
  border-radius: 12px;
  margin-left: 10%;
}
footer {
  background-color: #f3d6a1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  z-index: 1000;

  color: black;
}
.image-slider {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
  margin-top: -21px;
  pointer-events: none;
  padding: 0;
  margin-bottom: -100px;
}

.image-track {
  display: flex;
  width: 800%;
  height: 350px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.image-track img {
  width: 200%;
  height: 350px;

  object-fit: cover;
  animation: slide-boucle 40s ease infinite 0s;
  opacity: 0.5;
  transition: opacity 0.1s ease-in-out;
}

@keyframes slide-boucle {
  0%,
  13.33% {
    transform: translate(0, 0);
  }
  20%,
  33.33% {
    transform: translate(-100%, 0);
  }
  40%,
  53.33% {
    transform: translate(-200%, 0);
  }
  60%,
  73.33% {
    transform: translate(-300%, 0);
  }
  80%,
  93.33% {
    transform: translate(-400%, 0);
  }
  100% {
    transform: translate(-500%, 0);
  }
}
